@import './../../styles/variabiles.scss';

.total-container {
  padding: 1rem;

  @include breakpoint(45em) {
    padding: 2rem;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @include breakpoint(45em) {
      margin-bottom: 1.3rem;
    }

    p {
      color: $clr__white;

      span {
        color: $clr__dark-grayish-cyan-1;
        display: block;
      }
    }

    &__number {
      color: $clr__strong__cyan;
      font-size: 1.5rem;

      @include breakpoint(45em) {
        font-size: 3rem;
      }
    }
  }
}
