@import './../../styles/variabiles.scss';

.number-people {
  p {
    margin-bottom: 1rem;
  }

  input[type='number'] {
    background-image: url(./../../images/icon-person.svg);
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 2rem;
    text-align: right;
  }
}
